Django
djangorestframework
djangorestframework-simplejwt
django-filter
Faker
behave
behave-django
selenium
gunicorn
requests
drf-yasg
lxml
django-crispy-forms
crispy-bootstrap5
django-cors-headers
coreapi
pyyaml
httpx
gunicorn