Django
djangorestframework
djangorestframework-simplejwt
django-filter
Faker
behave
behave-django
selenium
gunicorn
requests
drf-yasg
lxml
django-crispy-forms
crispy-bootstrap4
hypothesis #for testing
coreapi
pyyaml
httpx
pylint
pylint-django
pylint-celery