{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Product detail {% endblock %}
{% block stylesheets %}

<style>
    a.edit {
        color: #FFC107;
    }
    a.delete {
        color: #E34724;
    }
    a.back {
        color: green;
    }
    .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 68px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
</style>
<script>
    // $(document).ready(function(){
    //     $('[data-toggle="tooltip"]').tooltip();
    //     // Animate select box length
    //     var searchInput = $(".search-box input");
    //     var inputGroup = $(".search-box .input-group");
    //     var boxWidth = inputGroup.width();
    //     searchInput.focus(function(){
    //         inputGroup.animate({
    //             width: "300"
    //         });
    //     }).blur(function(){
    //         inputGroup.animate({
    //             width: boxWidth
    //         });
    //     });
    // });
</script>
{% endblock stylesheets %}
{% block content %}
    <div class="container">
            <h1>{{ object.name }}</h1>
        <div>
            <a href="{{ product.get_edit_url }}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            <a href="{{ product.get_absolute_url }}delete/" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            <a href="{% url 'products:index' %}" class="back" title="back" data-toggle="tooltip"><i class="material-icons">&#xE5C4;</i></a>
        </div>
        {% if object.url %}
            {% if not object.is_url_valid %}
                <div class="alert alert-danger" role="alert"> Invalid Url / Unable to fetch data</div>
            {% endif %}
            <a href="{{ object.url }}" target="_blank" title={{ object.url }} data-toggle="tooltip"><p>{{ object.url|truncatechars:80 }}</p></a>
        {% else %}
            <p><div class="alert alert-danger" role="alert">Url not added</div></p>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-xs-9">
                {% if object.availability %}
                    <div class="alert alert-success" role="alert">Available {% if object.availability_message %}- {{ object.availability_message }}{% endif %}</div>
                {% else %}
                    <div class="alert alert-info" role="alert">Not Available {% if object.availability_message %}- {{ object.availability_message }}{% endif %}</div>
                {% endif %}
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Website</th>
                            <td>{{ object.site }}</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>{{ object.price }}</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>{{ object.price }}</td>
                        </tr>
                        <tr>
                            <th>max_price</th>
                            <td>{{ object.max_price }}</td>
                        </tr>
                        <tr>
                            <th>min_price</th>
                            <td>{{ object.min_price }}</td>
                        </tr>
                        <tr>
                            <th>target_price</th>
                            <td>{{ object.target_price }}</td>
                        </tr>
                        <tr>
                            <th>rating</th>
                            <td>{{ object.rating }}</td>
                        </tr>
                        <tr>
                            <th>ratings_count</th>
                            <td>{{ object.ratings_count }}</td>
                        </tr>
                        <tr>
                            <th>reviews_count</th>
                            <td>{{ object.reviews_count }}</td>
                        </tr>
                    <!-- <p>Website : {{ object.site }}</p>
                    <p>price : {{ object.price }}</p>
                    <p>max_price: {{ object.max_price }}</p>
                    <p>min_price : {{ object.min_price }}</p>
                    <p>target_price : {{ object.target_price }}</p>
                    <p>rating : {{ object.rating }}</p>
                    <p>ratings_count : {{ object.ratings_count }}</p>
                    <p>reviews_count : {{ object.reviews_count }}</p> -->
                    {% if request.user.is_superuser %}
                    <tr>
                        <th>User</th>
                        <td>{{ object.user }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Added Date</th>
                        <td>{{ object.created|date }}</td>
                    </tr>
                    <tr>
                        <th>Last Updated</th>
                        <td>{{ object.updated|timesince }} ago</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-xs-9">
                <h1>Historic data</h1>
                <table class="table table-bordered">
                    <tbody>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>price</th>
                            </tr>
                        </thead>
                        {% for phd in historic_data %}
                            <tr>
                                <th>{{ phd.1|date:"M-d" }}</th>
                                <td>{{ phd.0 }}</td>
                            </tr>
                        {% empty %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}