{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Product detail {% endblock %}
{% block stylesheets %}

<style>
    a.edit {
        color: #FFC107;
    }
    a.delete {
        color: #E34724;
    }
    a.back {
        color: green;
    }
</style>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        // Animate select box length
        var searchInput = $(".search-box input");
        var inputGroup = $(".search-box .input-group");
        var boxWidth = inputGroup.width();
        searchInput.focus(function(){
            inputGroup.animate({
                width: "300"
            });
        }).blur(function(){
            inputGroup.animate({
                width: boxWidth
            });
        });
    });
</script>
{% endblock stylesheets %}
{% block content %}
    <div class="container">
            <h1>{{ object.name }}</h1>
        <a href="{{ product.get_edit_url }}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        <a href="{{ product.get_absolute_url }}delete/" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        <a href="{% url 'products:index' %}" class="back" title="back" data-toggle="tooltip"><i class="material-icons">&#xE5C4;</i></a>
        {% if object.url %}
            {% if not object.is_url_valid %}
                <div class="alert alert-danger" role="alert"> Invalid Url / Unable to fetch data</div>
            {% endif %}
            <a href="{{ object.url }}" target="_blank" title={{ object.url }} data-toggle="tooltip"><p>{{ object.url|truncatechars:80 }}</p></a>
        {% else %}
            <p><div class="alert alert-danger" role="alert">Url not added</div></p>
        {% endif %}
        <div class="row">
            <div class="col-6 col-md-6">
                {% if object.availability %}
                    <div class="alert alert-success" role="alert">Available {% if object.availability_message %}- {{ object.availability_message }}{% endif %}</div>
                {% else %}
                    <div class="alert alert-info" role="alert">Not Available {% if object.availability_message %}- {{ object.availability_message }}{% endif %}</div>
                {% endif %}
                <p>Website : {{ object.site }}</p>
                <p>price : {{ object.price }}</p>
                <p>max_price: {{ object.max_price }}</p>
                <p>min_price : {{ object.min_price }}</p>
                <p>target_price : {{ object.target_price }}</p>
                <p>rating : {{ object.rating }}</p>
                {% if request.user.is_superuser %}
                    <p>User: {{ object.user }}</p>
                {% endif %}

                <p>Added Date: {{ object.created|date }}</p>
                <p>Last Updated: {{ object.updated|timesince }} ago</p>
            </div>
            <div class="col-6 col-md-6">
                <h1>Historic data</h1>
                {% for phd in historic_data %}
                    <p>{{ phd.1|date:"M-d" }} : {{ phd.0 }}</p>
                {% empty %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}